# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed
# separate terms of service, privacy policy
# documentation.

name: Continuous Integration

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install sbt
        uses: coursier/setup-action@v1
        with:
          apps: sbt

      - name: Cache SBT dependencies
        uses: actions/cache@v3
        with:
          path: ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-

      - name: Run tests and coverage
        run: sbt clean coverage test coverageReport
        env:
          JAVA_TOOL_OPTIONS: "-Djava.awt.headless=true"

      - name: Upload coverage to Coveralls
        run: sbt coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}